
<div class="container-fluid">
    <div class="row align-items-center bg-color-default">
        <div id="bgColor1" class="col-md-4 justify-content-center"><h1 id="textColor" class="banner-h1">400% <br/>INCREASE IN <br/>YOUR LEADS <br/>FROM GMB <br/>AND SEO.</h1></div>
        <div id="bgColor1" class="col-md-4">
            <video controls height="600px" width="100%" loop autoplay muted>
                <source src="assets\banner-new-video_compressed.mp4" type="Video/mp4">
            </video>
        </div>
        <div id="bgColor1" class="col-md-4" >
            <div class="container">
                <form action="action_page.php">
              
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">
              
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="australia">Australia</option>
                    <option value="canada">Canada</option>
                    <option value="usa">USA</option>
                  </select>
              
                  <label for="subject">Subject</label>
                  <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
              
                </form>
              </div>

        </div>
    </div>
    
    <!-- Row 2 -->

    <div class="row">
        <div class="col md-12"><h2 id="heading1" class="section-head">ROI-Driven SEO & Website Design Services</h2></div>
    </div>
<!-- Row 3 clutch certificate-->

<div class="row ">
    <div class="col-md-4 justify-content-center"><img src="assets\Web-Developer-2022.png" alt="clutch certificate"></div>
    <div class="col-md-4 justify-content-center"><img src="assets\Top-Advertising.png" alt="clutch certificate 1"></div>
    <div class="col-md-4 justify-content-center"><img src="assets\Seo-Companies-2022.png" alt="clutch certificate 2"></div>
</div>

<div class="row">
    <div id="bgColor1" class="col-md-12">
        <h2 id="textColor1" style="text-align: center;" class="section-head">Top Digital Marketing Company in USA, UK, AU & UAE</h2>
    </div>
</div>
<!-- Row 4 -->


</div>


    
    <div id="bgcolor2" class="container-fluid">
        <div  class="row justify-content-center">
            <div id="GreenBg" class="col-md-3 marginRight justify-content-center"><img src="assets\webdesign.png" alt="webdesign"></div>
            <div id="GreenBg" class="col-md-3 marginRight justify-content-center"><img src="assets\seo.png" alt="SEO"></div>
            <div id="GreenBg" class="col-md-3 marginRight justify-content-center"><img src="assets\ppc-1.png" alt="PPC"></div>
            <!-- <div id="GreenBg" class="col-md-2"><img src="assets\smo.png" alt="SMO"></div> -->
        </div>
    </div>


    <div id="bgcolor2" class="container-fluid pb-5">
        <div class="row justify-content-center">
            <div  class="col-md-4 justify-content-center">
                <button type="button" class="btn btn-primary">Get a FREE Website Analysis Report</button>
            </div>
        </div>
    </div>

    
    <div  class="container-fluid">
        <div class="row justify-content-center">
            <div  class="col-md-4 ">
                <h2 class="section-head">Hear from Our Clients:</h2>
            </div>
        </div>
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-6">
                
                <iframe width="90%" height="315" src="https://www.youtube.com/embed/Tw30WcrhAVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="col-md-6">
                <iframe width="90%" height="315" src="https://www.youtube.com/embed/Th-hW28Vr6w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <div  class="container-fluid ">
        <div class="row justify-content-center whiteBgColor">
            <div  class="col-md-6 justify-content-center">
                <h2 class="section-head">Top Ranked Online Marketing Company!!</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div  class="col-md-6 justify-content-center imgsize1">
                <img src="assets\marketing-badges.png">
            </div>
            
        </div>
    </div>

    <div class="container whiteBgColor">
        <div class="row whiteBgColor">
            <div class="col-md-6 googleImgSize"><img src="assets\google-new.jpg"></div>
            <div class="col-md-6 whiteBgColor">
                <h6>
                    GROW TRAFFIC & INCREASE REVENUE</h6>
                    <h2>Get Found on the 1st Page!</h2>
                    <p>We offer professional SEO services that help websites increase their organic search score drastically in order to compete for the highest rankings — even when it comes to highly competitive keywords.</p>
                    <button type="button" id="buttoncss" class="btn btn-primary">Learn More About Us</button>
            </div>
        </div>
    </div>
    <div class="container whiteBgColor">
        <div class="row">
            <div class="col-md-4">
                <h2>We Will Rock Your SEO!</h2>
                <p>AdsRole was created to provide highly affordable, yet highly effective web design and digital marketing services to small and medium sized businesses. Our mission is to empower businesses with superior websites that truly deliver results, along with the necessary marketing solutions that generate leads, sales and dramatically improve your bottom line.</p>
            </div>
            <div class="col-md-8">
                <video controls height="600px" width="100%" loop autoplay muted>
                    <source src="assets\laptop-video_compressed.mp4" type="Video/mp4">
                </video>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="bgcolor3">
        <div class="row">
            <div class="col-md-2"><img src="assets\6671-01-01.png"></div>
            <div class="col-md-7">
                <h3>See how optimized your website is for an exact keyword — for FREE!</h3>
                <h2>WHAT'S YOUR WEBSITE SEO SCORE ?</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12">


            <form action="action_page.php">
                <div class="row">
                
                  <div class="col-md-5 ">
                    <input type="text" id="websiteurl" name="website" placeholder="Your Website">
                  </div>
                  <div class="col-md-5">
                    <input type="text" id="email" name="email" placeholder="Your Email">
                  </div>
                  <div class="col-md-1">
                    <input type="submit" value="Submit">
                  </div>
                 
                </div>
                
                
                
              </form>

         

          <!-- Form  -->

        </div>
    </div>

</div>
                

            </div>
            <div class="col-md-2"><img src="assets\man2.png"></div>
        </div>

        <div class="row">
            <div class="col-md-12 pb-1">
                <p class="text-center">Please check our Privacy Policy to find out how we manage and protect your data.</p>
            </div>
        </div>
    </div>

    <!-- Cards -->

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets\ONLINE REPUTATION MANAGEMENT.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">ONLINE REPUTATION MANAGEMENT</h5>
                      <p class="card-text">It implies organically influencing and maintaining the individual or group reputation by creating a positive image of the brand or product across the web. AdsRole will help to protect your reputation!</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets\INCREASE YOUR.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">INCREASE YOUR 
                        CONVERSIONS</h5>
                      <p class="card-text">AdsRole strategies attract relevant and quality traffic by making website visitors interested in your products and services so that you don’t lose the never-ending battle of conversion and sales.</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="assets\real-time analytics.jpg" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">REAL-TIME
                        ANALYTICS</h5>
                      <p class="card-text">AdsRole integrated data collection along with real-time data analytics approach uncover the impact of strategies on your website enhancing customer experience and unfolding new business channels.</p>
                      <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
<div class="container">
    <div class="row">
        <div class="col-md-12 section-head">
            <h2 class="text-center">Check Out Our Awesome Sites !</h2>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 fortfoliImg"><a href=""><img [src]="alphamindImg"></a></div>
        <div class="col-md-6 fortfoliImg"><img [src]="rondavisImg"></div>
    </div>

    <div class="row">
        <div class="col-md-6 fortfoliImg"><a href=""><img [src]="adoreImg"></a></div>
        <div class="col-md-6 fortfoliImg"><a href=""><img [src]="chismImg"></a></div>
    </div>

    <div class="row">
        <div class="col-md-6 fortfoliImg"><a href=""><img [src]="sellyourhomejerseyImg"></a></div>
        <div class="col-md-6 fortfoliImg"><a href=""><img [src]="astagingcompanyImg"></a></div>
    </div>

</div>

<div class="container-fluid" id="bgcolordarkBlue12">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" style="color: white;">LET'S INCREASE YOUR TRAFFIC</h3>
        </div>
    </div>
</div>
<!-- <div id="bgimgourworkprocess">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
        
    </div>

</div> -->

<div class="container-fluid" id="bgcolordarkBlue12">
    <div class="row">
        <div class="col-md-12 bgful">
            <img [src]="svgBgImg">
        </div>
    </div>
</div>

<div class="container-fluid pd_25" id="bgcolor3">
    <div class="row section-head">
        <h2 class="text-center">Our Partners</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            
            
        </div>
    </div>
</div>

<!-- Slider - Our Partners  -->


<div class="container-fluid text-center pb-5 " id="bgcolor3">
    <div class="row mx-auto my-auto">
        <div id="recipeCarousel" class="carousel slide w-80" data-ride="carousel">
            <div class="carousel-inner w-80" role="listbox">
                <div class="carousel-item space-eq active " >
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\facebook-marketing-partner.jpg">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\godaddy-exclusive-partners.jpg">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\google-certified-partner.jpg">
                        </div>
                    </div>
                    

                    
                </div>
                <!-- <div class="carousel-item">
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\godaddy-exclusive-partners.jpg">
                        </div>
                    </div>
                </div> -->
                <!-- <div class="carousel-item">
                     <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\google-certified-partner.jpg">
                        </div>
                    </div> -->
                <!-- </div>  -->
                <!-- <div class="carousel-item">
                     <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\hostinger-partner.jpg">
                        </div>
                    </div> -->
                <!-- </div>  -->
                <div class="carousel-item space-eq">
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\hubspot-certified-partner.jpg">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\infusionsoft-partners.jpg">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\hostinger-partner.jpg">
                        </div>
                    </div>

                </div>
                <!-- <div class="carousel-item">
                     <div class="col-md-3">
                        <div class="card card-body">
                            <img class="img-fluid" src="assets\infusionsoft-partners.jpg">
                        </div>
                    </div> -->
                </div>
            </div>
            <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    


<div class="container">
    <div class="row">
        <div class="col-md-12 section-head"><h2 class="text-center">Our Customer Reviews</h2></div>
    </div>

    <!-- Review 1  -->

    <div class="row">
        <div class="col-md-2">
            <img class="testimonialImg" src="assets\Ali-Zanjani.jpg">
            <h6>Ali Zanjani</h6>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
        </div>
        <div class="col-md-9">
            <p>AdsRole TX has helped me in taking my website to the 1st page of Google. The project manager assigned for my website was really supportive, helpful and professional. AdsRole is the best Digital Marketing company of Texas.</p> <a href="https://www.google.com/search?q=Adsrole+texas&rlz=1C1RXQR_enIN929IN929&oq=Adsrole+texas&aqs=chrome..69i57j69i60j69i65j69i61.3657j0j1&sourceid=chrome&ie=UTF-8#lrd=0x864c2d2b7b26d43d:0x3773207e90b5ba5,1,,," target="_blank"><img src="assets\via_google.png" alt="via Google"></a> 
        </div>
    </div>

        <!-- Review 2  -->
        <div class="row ">
            <div class="col-md-2 ">
                <img class="testimonialImg" src="assets\Victor-Galvan.jpg">
                <h6>Ali Zanjani</h6>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div class="col-md-9">
                <p>Great working with Adsrole. A person answers the phone not a machine when you need them. It's a relief to works with a Company that does what they say they will do. High praise, highly recommended.</p> <a href="https://www.google.com/search?q=Adsrole+texas&rlz=1C1RXQR_enIN929IN929&oq=Adsrole+texas&aqs=chrome..69i57j69i60j69i65j69i61.3657j0j1&sourceid=chrome&ie=UTF-8#lrd=0x864c2d2b7b26d43d:0x3773207e90b5ba5,1,,," target="_blank"><img src="assets\via_google.png" alt="via Google"></a> 
            </div>
        </div>

</div>