<div class="container-fluid footerBgColor">
    <div class="container">
        <div class="row pt-1">
            <div class="col-md-4"><p class="text-center">Refund Policy</p></div>
            <div class="col-md-4"><p class="text-center">Terms Conditions</p></div>
            <div class="col-md-4"><p class="text-center">Privacy Policy</p></div>
        </div>
        <div class="row">
            <div class="col-md-8">
            <a href="" target="_blank"><img src="assets\footer_images\Google-Partners.jpg" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\DMCA.png" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\Clutch.jpg" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\Google-5-Star-Badge.png" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\Bark.jpg" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\trustpilot-logo-new-1.png" alt=""></a>
            <a href="" target="_blank"><img src="assets\footer_images\goodfirms-bluetech.png" alt=""></a>
            <a href="" target="_blank"><img class="foterimgIconWidth" src="assets\footer_images\AdsRole-Secure-Payments-1.png" alt=""></a>
            
            </div>
            <div class="col-md-4 ">
                <p><a href="tel:+1(855)855-0990" class="WhiteTextColor"><i class="fa-solid fa-phone"></i> +1 (855) 855-0990</a></p>
                <p><a href="tel:+1(346)699-0001" class="WhiteTextColor"><i class="fa-solid fa-phone"></i> +1 (346) 699-0001</a></p>
                <p class="p-2"><a href="mailto:info@adsrole.com" class="emailcss"><i class="fa-solid fa-envelope"></i>     info@adsrole.com</a></p>
<p >
    <a href="" target="_blank"><i class="fa-brands fa-facebook-f p-2 socialIcons"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-twitter p-2 socialIcons"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-youtube p-2 socialIcons"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-pinterest p-2 socialIcons"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-linkedin p-2 socialIcons"></i></a>
    <a href="" target="_blank"><i class="fa-brands fa-instagram p-2 socialIcons"></i></a>
    
    
</p>
            </div>
        </div>
        
    </div>
</div>
<div class="container-fluid whiteBgColor">
    <div class="row ">
        <div class="col-md-6 text-center"><p>© 2017-2022 AdsRole. All Rights Reserved</p></div>
        <div class="col-md-6 text-center">
            <img class="FootlogoSize" src="assets\cropped-AdsRole-Logo-PNG-Image2-2-1.png" alt="AdsRole Logo">
        </div>
    </div>
</div>

<div class="container-fluid BlackBgColor">
    <div class="row">
        <div class="col-md-12 text-center"><p>ADVANCE PAY OFFER: Pay for 10 Months & Get Services for 12 Months. Valid on SEO, Paid Ads & Social Media Packages.  <button type="button" class="btn btn-primary m-2">Let's Get Started</button></p>
        
        </div>
        
    </div>
</div>