<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Monthly</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Yearly</button>
    </li>
    
   
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur consequuntur est voluptate! Nobis quidem unde illo voluptate dolore, quas dolor aperiam architecto ipsam dicta accusantium aliquam necessitatibus dolores alias, laudantium porro animi nisi fuga sequi odio impedit error placeat at! Numquam, impedit ratione? Excepturi vero deleniti incidunt nam rem optio, doloribus earum qui necessitatibus ad corrupti adipisci voluptates ex ratione commodi aliquid ipsam quibusdam officiis! Consequuntur, tempora! Ducimus aliquam quam, qui repudiandae illo suscipit accusamus quidem, ipsam error atque culpa nobis mollitia deleniti! Eligendi hic quod itaque adipisci, eaque nulla earum accusamus, labore odit voluptates officia nam reprehenderit inventore obcaecati.
    </p>
    
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique, quaerat illum nobis consequuntur mollitia dolorum possimus fugit ad quos enim omnis? Quis reprehenderit ad, eaque obcaecati dolores vitae id eveniet a quibusdam rem porro repellat magnam est error nemo vel accusantium perspiciatis aliquam cupiditate odit. Reiciendis debitis qui repellat tempore ipsam explicabo quis, delectus deserunt ab dolor fuga doloribus deleniti nisi magnam repellendus, veritatis mollitia nemo error dolorum itaque blanditiis amet suscipit porro fugiat. Dolore ipsum unde voluptatum eius eos nulla at amet, voluptates corporis repellat voluptate laboriosam reiciendis dolores labore iste sapiente doloremque quae cum corrupti distinctio! Harum, animi.
    </div>
    
  </div>